<!doctype html>

<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{html_title}}</title>
    <meta name="author" content="Toru Interactive">
    <meta 
      name="viewport"
      content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

  </head>
  <body>
    <div
      class="menu-container"
      uk-offcanvas="mode: none; overlay: true"
      uk-offcanvas>
      <div class="uk-offcanvas-bar">
        
        <a href="/">
          <img
            src="/img/menu-logo.jpg"
            style="height : 37px; width : auto"
            alt="Site Logo">
        </a>
        
        <a 
          class="uk-icon-button uk-position-top-right uk-position-small uk-button-default" 
          uk-icon="close"
          uk-toggle="target: .menu-container">
        </a>

        <div
          class="uk-search uk-search-default uk-width-1-1 
          uk-margin-top">
          
          <span uk-search-icon></span>
          
          <input
            class="uk-search-input"
            type="search"
            autocomplete="off"
            autocorrect="off"
            autocapitalize="off"
            spellcheck="false"
            placeholder="Search..."
            data='{{search_data}}'>

        </div>

        <ul uk-accordion>
          {{#each menu}}
          <li class="{{class}}">
            <a
              class="uk-accordion-title"
              id="{{slug}}"
              href="#">
              <span uk-icon="icon: chevron-down"></span>
              {{title}}
            </a>
            
            <div class="uk-accordion-content">
              {{#each submenus}}
              <ul class="uk-nav uk-nav-default uk-margin-bottom-small">
                {{#if title}}
                  <li class="uk-nav-header uk-margin-top {{this.class}}">{{title}}</li>
                  <li class="uk-nav-divider"></li>
                {{/if}}
                {{#each pages}}
                <li class="save-scroll-position {{this.class}}">
                  <a href="{{this.url}}">{{this.title}}</a>
                </li>
                {{/each}}
              </ul>
              {{/each}}
            </div>
          </li>

          {{/each}}
        </ul>

      </div>
    </div>

    <a 
      class="uk-icon-button uk-position-fixed uk-position-top-left uk-position-small uk-position-z-index uk-button-secondary" 
      uk-icon="menu"
      uk-toggle="target: .menu-container">
    </a>

    <div
      class="
        page-container
        uk-container 
        uk-padding-remove 
        uk-margin-medium-top
        uk-margin-large-bottom">

      {{#if banner_image}}
      <img src="{{banner_image}}" alt="" />
      {{else}}
      <br class="no-banner-top-spacer" />
      {{/if}}

      <div class="uk-padding">
        {{{content}}}
      </div>
      <div class="uk-padding-small uk-width-1-1">
        <div class="uk-align-right">
          <a
            href="{{edit_url}}"
            target="_blank"
            uk-icon="icon: pencil"
            uk-tooltip="Edit This Page"
            class="uk-icon-button">
          </a>

          <a
            href="{{issues_url}}"
            target="_blank"
            uk-icon="icon: warning"
            uk-tooltip="Report an Issue"
            class="uk-icon-button uk-margin-right">
          </a>

          {{#if previous_url}}

          <a
            href="{{previous_url}}"
            uk-icon="icon: chevron-left"
            uk-tooltip="{{previous_title}}"
            class="uk-icon-button">
          </a>

          {{/if}}

          {{#if next_url}}
          
          <a
            href="{{next_url}}"
            uk-icon="icon: chevron-right"
            uk-tooltip="{{next_title}}"
            class="uk-icon-button uk-button-primary">
          </a>
        {{/if}}
        </div>
      </div>
    </div>

    <script src='/app.js?v={{cache_buster}}'></script>
  </body>
</html>
