<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="author" content="Toru Interactive">
    <script>window.location = "{{location}}"</script>
  </head>
  <body style='color : #009AFF'>...</body>
</html>