.menu-container {
  .uk-search {
    .uk-search-icon {
      display : block;
      top : 14px;
      left : 10px;
    }

    .uk-search-input {
      height : 46px;
      font-size : 15px;
      border-radius: 22px;
      background: #ffffff;
      border: #d1d1d1 1px solid;
    }

    .suggestions-wrapper {
      ul.suggestions {
        background-color : white;
        padding : 0;
        list-style-type: none;
        position : absolute;
        border : 1px solid #dfdfdf;
        z-index: 1;
        margin-top: 5px;
        border-radius: 6px;
        overflow: hidden;

        li {
          padding : 10px 16px;
          border-bottom : 1px solid #dfdfdf;
          font-size : 16px;
          line-height: 1.5;

          a {
            color : black;
          }

          &.active {
            background-color : #1e87f0;
            a {
              color : white;
            }
          }
        }
      }
    }
  }

  .uk-accordion {
    font-size : 14px;

    li {
      margin : 0 0;
      
      .uk-accordion-title {
        background-color : #f8f8f8;
        color : #484848;
        padding : 10px 10px;
        margin : 0 0 1px 0;
        font-size : 16px;
        
        .uk-icon {
          display : none;
        }
      }

      .uk-accordion-content {
        margin : 0;
        padding : 6px 16px;

        ul.uk-nav {
          li {
            position : relative;

            &.uk-active {
              &:before {
                content: "";
                position: absolute;
                top: 17px;
                left: -13px;
                height: 6px;
                width: 6px;
                background-color: black;
                border-radius: 50%;
              }
            }
          }
        }
      }

      &.uk-active {
        .uk-accordion-title {
          background-color : #1e87f0;
          color : white;
        }
      }

      &.uk-open {
        .uk-accordion-title {
          .uk-icon {
            display : inline-block;
          }
        }
      }
    }
  }
}