.page-container {
  background-color : white;

  @media (min-width: 1280px) {
    box-shadow: 0 2px 20px rgba(0,0,0,0.05);

    .no-banner-top-spacer {
      display : none;
    }
  }

  @media (max-width: 1279px) {
    padding : 0!important;
    margin-top : 0!important;
  }
}

body {
  @media (min-width: 1280px) {
    background-color : #FDFDFD;
  }

  @media (max-width: 1279px) {
    background-color : #FFFFFF;
  }
}